
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

          
*{
    
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Works on Firefox */


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
    
}

*::-webkit-scrollbar-track {
 
    background-color:#ff9933;;  
    
  
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 10px solid #eee;
  
   
}
/*         start header      */

.header{

       height: 100vh;
        background-color: #eee;
}

.header .container .registration{
    width: 100%;
    margin-bottom: 10px;
    height: 5vh
}
.header .container .registration ul{
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    direction: rtl;
    
    
}
.header .container .registration ul li{
  
    margin: 5px 10px 5px 10px;
    
    font-size: 1.5rem;
   list-style-type: none;
    
   
}

.header .container .registration ul li .fas{
    
    color:#383738;
  
    padding-left: 5px
}

.header .container .registration ul li a{

    height: 25px;
    text-decoration: none;
    color:#383738; 

    padding: 5px;
    
}
.header .container .registration ul li a:hover{
    background-color:#383738;
    color: #eee;
        
    border-radius: 10px;
    
}
.header .container .registration ul li .active{
    
     background-color:#383738;
    color:#eee;
    border-radius: 10px;
}

.header .container .notification{
    background-color:#212121;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    height: 15vh;
    display: flex;
    flex-direction: row;
    
}
.header .container .notification .box{
    
    display: none;
    
}
.header .container .notification .ul-1{
  
   width: 70%;
    
}

.header .container .notification .ul-2{
    
    display: none
}

.header .container .notification .ul-2 li,.box{
    margin: 20px 0px;
    
    
}
.header .container .notification .ul-2 .box{
 
    color: dodgerblue;
   
 
    
}

.header .container .notification .logo-box{
    
    width: 20%;
    height: 15vh;
    
}
.header .container .notification .logo-box img{
    
    width: 100px;
    height: 100px;
    
}
 .header .container .notification ul .bar{
   
     color: #fff;
     font-size: 30px
}


.header .container .notification ul{
     direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25% 1fr;
   margin-left: auto;
   margin-right: 5%;

   
    
}
.header .container .notification ul li{
      list-style-type: none;
    font-size: 20px;
    padding-top: 40px;
    
    
}
.header .container .notification ul li a{
   padding: 10px;
      
  

    color: #ba841b;
  
    text-decoration: none
}
.header .container .notification ul li .active{
     background-color:#ba841b;
    color: #212121;
    border-radius: 10%
    
}

.header .container .notification ul li a:hover{
    
        background-color:#ba841b;
    color: #212121;
   border-radius: 10%;
    transition: 0.5s;
    
}
 .header .container .box-para{
     background-color:#383738;
     height: 70vh;
     margin-top: 10px
}


.header .container .box-para .img-illustration img{
    
      width: 500px;
    height: 500px;
   
}
 .header .container .box-para .para{
    height:200px;
    border-radius: 10px;
    border-left: 10px solid #ff9933;
     margin: auto;
     width: 30%
}
 .header .container .box-para .para h2,p{
     
    text-align: right;
    padding-left: 30px;
    font-size: 1.2rem;
   
     color:  #eee;
}
  .header .container .box-para .para h2{   
    color: #ff9933;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 15px;
      
}

/*         end header      */



/*       start  box-1      */


.box-1{
        height: 100vh;
       background-color: #eee
    }


.box-1 .go button a{
        Text-decoration:none; 
        Color:#eee;
    }



.box-1 .container{
       height: 100vh;
       padding: 20px;
    }


.box-1 .container .form-1{
    direction: rtl;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color:#fbfbfb;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    height: 80vh;
   
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 20vh 20vh 20vh;


}
.box-1 .container .form-1 div{
    width: 100%
}
.box-1 .container .form-1 .selectt{
    width: 100%;
}

.box-1 .container .btns .button{
  
    width: 20%;
    margin: auto;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    font-size: 1.8rem
}


.box-1 .container .form-1 .radios div{

    height: 50px;
    margin: auto;
    direction: rtl;
     display: flex;
    flex-direction: row;
    
}
.box-1 .container .form-1 .radios div p{ 
      margin: auto;
      margin-right: 15px;
}
.box-1 .container .form-1 .radios div input{ 
 
    transform: scale(2);
    margin: auto
}

.box-1 .container .form-1 .selectt p{
    color: #000;
    opacity: 0.8;
    
    margin-bottom: 10px;
    
}


.box-1 .container .form-1 .selectt select{
    
    border-radius: 5px;
    width: 90%;
    border: none;
    background-color: #eee;
    height: 30px;

 
}
.box-1 .container .form-1 .box .chosen{
     border-radius: 5px;
    width: 60%;
    border: none;
    background-color: #eee;
    height: 30px;
    
}
.box-1 .container .form-1 .select{

    width: 60%;
    height: 25vh;
    
    
}
.box-1 .container .form-1 .box{
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    border: none;
    
    background-color: none;
    height: 30px;
}

.box-1 .container .form-1 .box h6{
    color: #000;
    opacity: 0.8;
    font-weight: bold;;
    background-color: #fff;

}
.box-1 .container .form-1 .box .chosen{
    
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: #eee;
    height: 30px;
 
    
}
.box-1 .container .form-1 button{
   
    width: 90px;
    font-size: 30px;
    height: 50px;
    margin: auto;
    border: none;
   
     border-radius: 10px;
   
    color:  #e6e6e6;
    background-color: #ff9933;
}


.box-1 .container .forms .search,button{
    margin-bottom: 10px;
    width: 90px;
    font-size: 30px;
    height: 50px;
  
    border: none;

   
    color:  #e6e6e6;
    background-color: #ff9933;
    border-radius: 10px;
}

.box-1 .container .form-1 .date{
    
    margin-top: 7px;
    display: grid;
    grid-template-rows: 25% 25%;
}
.date p{
    width: 40%;
    color: #000;
    opacity: 0.8
}

.box-1 .container .form-1 .date input{
    border-radius: 5px;
    width: 90%;
    border: none;
    background-color: #eee;
    height: 30px;
}
.go input{
    background-color: #eee;
    height: 30px;
}


/*       end  box-1      */

/*       start  box-2      */

.box-2{
    
    background-color: #383738;
   
}

.box-2 .container .row{
    position: relative;
    top: 50%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  
}
.box-2 .container .row p{
   
    color: #c9c9c9;
    font-size: 2.5rem;
    border-right: 10px solid #ff9933;
    height: 200px;
    border-radius: 10px;
    width: 45%;
    padding: 30px;
   
    
}

.box-2 .container .forms .search,button{
    margin-bottom: 10px;
    width: 90px;
    font-size: 30px;
    height: 50px;
  
    border: none;
    color:  #e6e6e6;
    background-color: #ff9933;
    border-radius: 10px;
}




/*       end  box-2      */
/*       start  box-3      */

.box-3{
     padding-top: 50px;
    background-color: #383738;
    width: 100%;
    height: 100vh
}

.box-3 .container{
    width: 100%;
    margin: auto;
    
}

.box-3 .container form .big-box{
     
     padding: 20px;
    
     display: grid;
     grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr  ;
     width: 100%;
     max-height: 500px;
     overflow: scroll;
  
     box-shadow: 0px 5px 17px rgba(0,0,0,0.63);
    
     color: #c9c9c9;
    background-color:  #e6e6e6;

    border-radius: 5px
    
}

.box-3 .container .title{

    margin-bottom: 20px;
    
}

.box-3 .container .title p{
    
    font-size: 30px;
     
       color: #ff9933;

 
    
    
}

.box-3 .container form .big-box .table .div-7 button{

     color: #e6e6e6;
    background-color: #ff9933;
    
    border: none;
    
}
.box-3 .container form .big-box .titles{
    color: #e6e6e6;
    background-color: #ff9933;

    border-radius: 5px
   
}
.box-3 .container form .big-box .titles p{

       color: #212121;;
    
    font-size: 20px;
    text-align: center
    
}
.box-3 .container form .big-box .titles,.table{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    direction: rtl;
   
   
   
}
.box-3 .container form .big-box .table{
    
    border-bottom: 1px solid #ff9933;
}
.box-3 .container .big-box .table div{
    
    width: 90%;
    margin: auto;
    height: 170px;
}
.box-3 .container form .big-box .table .div-1{
    text-align: center;
   
}

.box-3 .container form .big-box .table .div-1 img {
    
    width: 80px;
    height: 80px;
}
   
.box-3 .container form .big-box .table div p{
     text-align: center;
     color:#212121;;
    font-size: 23px;
    margin-bottom: 40px;
}
.box-3 .container form .big-box .table .div-1 p{
    
    margin-bottom: 20px;
}
.box-3 .container .title p{
    text-align: center
    
}

.box-3 .container form .big-box .table .div-7 button{
    margin-top: 50px;
    width: 70%;
    height: 50px;
    margin-right: 15px;
    font-size: 30px;
  
}

 /*       end  box-3      */

/*       start  box-4      */

.box-4{
  
    direction:rtl;
    background-color: #e6e6e6;


}
.box-4 .container{
    padding: 30px
}
.box-4 .container .row{
       border-radius: 5px;
      padding: 10px;
     box-shadow: 0px 5px 17px rgba(0,0,0,0.63);
    background-color: #383738;
    
}
.box-4 .container .row .visa .para p{
     color: #c9c9c9;
     font-size: 1rem
}
.box-4 .container .row .visa .para p span{
      color: #ff9933;
    
    
}
.box-4 .container .row .visa img{
    margin: auto;
    width: 35%;
    height: 15vh;
    margin-left: 20px
}
/*       end  box-4      */
/*       start  footer     */

.footer{
  
    background-color: #212121;
    
}

.footer .container .footer-1 .info{
   
    color: #eee;
}
.footer .container .footer-1 .info p{
   color: #bfbfbf
}
.footer .container .footer-1 .contact p{
    color: #bfbfbf;
    
}


.footer .container .footer-1 .info h2{
        
    text-align: end;
   
   
}

.footer .container .footer-1 .contact{

      color: #eee;
    padding: 10px
   
   
}

.footer .container .footer-1 .contact h2{
     text-align: end;
     font-size: 1.5rem;
     
}

.footer .container .footer-1 .contact form{
    
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.footer .container .footer-1 .contact form input{
    border:none;
    width: 60%
}
.footer .container .footer-1 .contact form input::placeholder{
    
    text-align: right;
    font-size: 20px
    
}
.footer .container .footer-1 .contact .icon{
    font-size: 30px;
    
    margin-left: 5px;
    color: #B9841B;
}
.footer .container .footer-1 .img{
  
}
.footer .container .footer-1 .img img{
    width: 40%;
    margin-left: 30%;
    height: auto
}


.footer .container .footer-2{
 
    padding: 10px;
  
    
}
.footer .container .footer-2 p{
     border-top: 2px solid #eee;
    width: 50%;
    margin: auto;
    text-align: center
}


/*       end  footer     */


/*  for tablets */


@media (max-width: 991.98px) { 
    
/*   start  header  */
    
.header .container .box-para .para{
    
 
    width: 40%;
    }
.header .container .box-para .img-illustration{
    height: auto;
   
    }
.header .container .box-para .img-illustration img{
    
      width: 400px;
    height: 400px;
    margin:auto;
   
}
.header .container .registration ul{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    direction: rtl;
    
    
}
.header .container .registration ul li{
  
    margin: 5px 10px 5px 10px;
    
    font-size: 1rem;
   list-style-type: none;
    
   
}

.header .container .registration ul li .fas{
    
    color:#383738;
  
    padding-left: 5px
}

.header .container .registration ul li a{

    height: 25px;
    text-decoration: none;
    color:#383738;
    padding: 5px;
    
}
.header .container .registration ul li a:hover{
    background-color:#383738;
    color: #eee;
        
    border-radius: 10px;
    
}
.header .container .registration ul li .active{
    
     background-color:#383738;
    color:#eee;
    border-radius: 10px;
}
.header .container .notification{
        
        display: flex;
        justify-content: center;
        flex-direction: column
    }

.header .container .notification ul{
    
    position: absolute;
    top:24%;
    left: 25%;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 73vh;
   
}
.header .container .notification .ul-1{
    
    display: none
}

.header .container .notification .ul-2{
    background-color:#212121;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: 22%;
    left: 10%;
    width: 80%;
    margin: auto;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    display: none
    
    
    
}
.header .container .notification .ul-2 li{
   width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
 
    
    }

.header .container .notification .box{
    margin-left: auto;
    margin-right: 10px;
    width: 13%;
    height: 50px;
   
    display: flex;
    cursor: pointer
}
.header .container .notification .box .open{
        background: none;
       font-size: 3rem;
    color: #B9841B;
     border: none;
    
    }
.header .container .notification .box .close{
     background: none;
       font-size: 3rem;
    color: #B9841B;
     border: none;
    display: none
    }

.header .container .notification ul li a{
  
   margin: auto;
        
    }
 .header .container .notification .bar{
     display: flex;
     width: 20%;
     margin: auto;
     background: none;
     border: none
     
    }
 .header .container .notification .bar .fas{
     width: 80px;
     font-size: 3rem;
     height: 50px;
     margin-left: auto;
     color: #ba841b
    }
/*   end  header  */
    
/*   start  box-1  */
.box-1 .container .form-1{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 13vh 13vh 13vh 13vh;


}
.box-1 .container .form-1 button{
   
    width: 90px;
    font-size: 30px;
    height: 50px;
   margin-top: 50px;
    border: none;
 
}

.date{
   
    display: grid;
    grid-template-rows: 40% 25%
}
    

/*   end  box-1  */
}

/* for mobiles */

@media (max-width: 768px){ 

html{

        background-color: #eee;
        padding-left: 15px;
        padding-right: 15px
}
/*   start  header  */
.header{

        height: 100vh;
        background-color: #eee;
}

.header .container .registration{
   width: 100%;
   margin-top: 10px;
   height: 5vh
}
.header .container .registration ul{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    direction: rtl;
    
    
}
.header .container .registration ul li{
  
    margin: 5px 10px 5px 10px;
    
    font-size: 1rem;
   list-style-type: none;
    
   
}

.header .container .registration ul li .fas{
    
    color:#383738;
  
    padding-left: 5px
}

.header .container .registration ul li a{

    height: 25px;
    text-decoration: none;
    color:#383738; 

    padding: 5px;
    
}
.header .container .registration ul li a:hover{
    background-color:#383738;
    color: #eee;
        
    border-radius: 10px;
    
}
.header .container .registration ul li .active{
    
      background-color:#383738;
      color:#eee;
      border-radius: 10px;
}
.header .container .notification{
        
        display: flex;
        justify-content: center;
        flex-direction: column
    }

.header .container .notification ul{
    
    position: absolute;
    top:24%;
    left: 25%;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 73vh;
 
}
.header .container .notification .ul-1{
    
    display: none
}

.header .container .notification .ul-2{
    background-color:#212121;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: 24%;
    left: 10%;
    width: 80%;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  
    display: none
    
    
}
.header .container .notification .ul-2 li{
   width: 100%;
    
    height: 80px;
    display: flex;
    justify-content: center;

    
    }
.header .container .notification .box{
    margin-left: auto;
    margin-right: 10px;
    width: 13%;
    height: 50px;
     
    display: flex;
    cursor: pointer
}
.header .container .notification .box .open{
        background: none;
       font-size: 3rem;
       color: #B9841B
    }
.header .container .notification .box .close{
     background: none;
    font-size: 3rem;
    color: #B9841B;
     border: none;
    }

.header .container .notification ul li a{
   
   margin: auto;
        
    }
 .header .container .notification .bar{
     display: flex;
     width: 20%;
     margin: auto;
     background: none;
     border: none
     
    }
 .header .container .notification .bar .fas{
     width: 80px;
     font-size: 3rem;
     height: 50px;
     margin-left: auto;
     color: #ba841b
    }

.header .container .box-para .img-illustration img{
    
    width: 240px;
    height: 240px;
    margin-left: 100px;
    
   
}

.header .container .box-para .para{
    height: 200px;
    width: 55%;
}
.header .container .box-para .para h2{
    font-size: 20px;
    color: #ff9933;
}
.header .container .box-para .para p,h2{
    
    margin-top: 0;
    font-size: 1rem
 }
    
/*   end  header  */
    
/*   start  box-1  */
.box-1{
  height: 100vh;
    
}


.box-1 .container .form-1{


    direction: rtl;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color:#fbfbfb;
    height: 135vh;
    display: grid;
    grid-template-columns:90%;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;


}



.box-1 .container .form-1 .select{
    
    width: 100%;
   height: 13vh
    }
.box-1 .container .form-1 .search{
    margin-top: 20px
    
    }
.box-1 .container .form-1 .radios{
   
   background-color: dodgerblue;
    height: 10vh
        
}

.date{
   
   
    grid-template-rows: 10% 10%
}
.date p{
    margin-bottom: 5px;
}
.date input{
    width: 90%;
    margin-top: 20px;
}



/*   end  box-1  */
    
/*   start  box-2  */
    
    
.box-2 .container .row{

padding-top: 20px
  
}
.box-2 .container .row p{
  padding: 10px;
    font-size: 2rem;

   
    height: 100px
}
/*   end  box-2  */
    
/*   start  box-4  */
.box-4 .container .row{
    display: flex;
    justify-content: center;

   text-align: center
    
}
.box-4 .container .row div p{
    
    text-align: center
} 



/*   end  box-4  */
}


   
    
