
<html>
    
    <head>
   
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="../static/css/styleLogIn.css">
         <link rel="stylesheet" href="../static/css/all.css">
         <link rel="preconnect" href="https://fonts.gstatic.com">

  
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
    <body>
      <div class="all">
              <h2>تسجيل الدخول</h2>
              <div class="container">
                    <form class="row" form action ="" method="POST">
                      {% csrf_token%}
                        <div class="name col-lg-6 col-md-6 col-sm-12"><input type="text" placeholder="اسم المستخدم" name="username"><i class="fas fa-user"></i> </div>
                        <div class="password col-lg-6 col-md-6 col-sm-12"><input type="password" placeholder="كلمة المرور" name="password"> <i class="fas fa-lock"></i></div>
                        <a href= {% url 'reset_password'%}>هل نسيت كلمة المرور؟</a>
                        <button type="submit col-lg-2 col-md-6 col-sm-4">تسجيل </button>

                   </form>
              </div>
      </div>
    </body>
</html>